DATABASE_URL=sqlite:///./portfolio.db
API_TOKEN=changeme
GOOGLE_CLIENT_ID=213530153682-rm4lnbnbr00qofus2s58im5hfv64a77a.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_DRIVE_BACKUP_FOLDER=financial-tracker-backup
